<footer class=content-footer>
    <nav class=footer-right>
        <ul class=nav>
            <li><a href=javascript:;>反馈</a></li>
            <li><a href=javascript:; class=scroll-up> <i class="fa fa-angle-up"></i> </a></li>
        </ul>
    </nav>
    <nav class=footer-left>
        <ul class=nav>
            <li><a href="javascript:;">版权 <i class="fa fa-copyright"></i> <span>OMK</span> 2015. 保留所有权利</a></li>
        </ul>
    </nav>
</footer>