<meta charset="utf-8" />
<title>OMKAdmin</title>

<meta name=description content="">
<meta name=viewport content="width=device-width">

<link rel=stylesheet href="vendor/datatables/media/css/jquery.dataTables.css">
<link rel=stylesheet href="styles/custom.css">
<link rel=stylesheet href="styles/app.css">
<link rel=stylesheet href="styles/fa.css">
<link rel=stylesheet href="styles/perfect-scrollbar.css">
