<header class="header navbar">
    <div class="brand visible-xs">
        <div class=toggle-offscreen><a href="index.html#" class="hamburger-icon visible-xs"
                                       data-toggle=offscreen data-move=ltr> <span></span> <span></span>
            <span></span> </a></div>
        <div class=brand-logo><img src="" height=15 alt=""></div>
        <div class=toggle-chat><a href=javascript:; class="hamburger-icon v2 visible-xs"
                                  data-toggle=layout-chat-open> <span></span> <span></span> <span></span> </a>
        </div>
    </div>
    <ul class="nav navbar-nav hidden-xs">
        <li><p class=navbar-text> {{current_view_name}} </p></li>
    </ul>
    <ul class="nav navbar-nav navbar-right hidden-xs">

        <li>
            <a href=javascript:; data-toggle=dropdown>
                <i class="fa fa-bell-o"></i>
                <div class="status bg-danger border-danger animated bounce"></div>
            </a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="dropdown">
                <img src=""
                     class="header-avatar img-circle ml10"
                     alt="user"
                     title="user">
                <span class="pull-left">阮医生</span> </a>
            <ul class="dropdown-menu">
                <li><a href="/dashboard/profile">设置</a></li>

                <li><a href="/dashboard/help">帮助</a></li>
                <li><a href="/logout">登出</a></li>
            </ul>
        </li>
    </ul>
</header>
