<div class="app layout-fixed-header usersession">
    <div class=full-height>
        <div class="center-wrapper text-center">
            <div class="center-content text-center">
                <div class=error-number><span>404</span></div>
                <div class=h5>PAGE NOT FOUND</div>
                <p>Sorry, but the page you were trying to view does not exist.</p></div>
        </div>
    </div>
</div>