
<div class="app layout-fixed-header">
    {{> sidebar}}
    <div class=main-panel>
        {{> navbar}}
        <div class=main-content>

        </div>
    </div>
    {{> footer}}

</div>

{{> foot}}
